################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Titan.StockMarketSimulator/v15/Server/sqlite3
/.vs
