@{
    ViewBag.Title = "GameBoard";
}
<style>
   #chartdiv {
	width	: 100%;
	height	: 500px;
}													
</style>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
            <span style="float: right; background-color: #428bca;" class="badge badge-pill badge-success"><span class="glyphicon glyphicon-user"></span>@ViewBag.Usrname</span>
            <br />
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item active"><a data-toggle="tab" href="#tab1"><small>ICT sector</small> </a></li>
        <li class="nav-item"><a data-toggle="tab" href="#tab2"><small>Food & breverages sector</small></a></li>
        <li class="nav-item"><a data-toggle="tab" href="#tab3"><small>Advertising Sector</small></a></li>
        <li class="nav-item"><a data-toggle="tab" href="#tab4"><small>Sector 4</small> </a></li>
        <li class="nav-item"><a data-toggle="tab" href="#tab5"><small>Sector 5</small></a></li>
        <li class="nav-item"><a data-toggle="tab" href="#tab6"><small>Sector 6</small></a></li>

    </ul>

    <div class="tab-content" style="background-color: #ffffff; border: 1px solid #ffffff;">
        <div id="tab1" class="tab-pane fade in active">
            <div id="chartdiv"></div>		
            <div class="row">
                <div class="col-sm-8"></div>
                 <div class="col-sm-2">
                     <a href="#" class="btn btn-sm btn-primary">
                         Buy
                     </a>
                     <a href="#" class="btn btn-sm btn-primary">
                         Sell
                     </a>
                 </div>
                 <div class="col-sm-2">

                 </div>
            </div>
        </div>
        <div id="tab2" class="tab-pane fade" style="background-color: #ffffff; border: 1px solid #ffffff;">
            <div class="container">
            </div>
        </div>
        <div id="tab3" class="tab-pane fade" style="background-color: #ffffff; border: 1px solid #ffffff;">
            <div class="container">
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped table-dark  table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Player</th>
                            <th scope="col">Turn 1</th>
                            <th scope="col">Turn 2</th>
                            <th scope="col">Turn 3</th>
                            <th scope="col">Turn 4</th>
                            <th scope="col">Turn 5</th>
                            <th scope="col">Turn 6</th>
                            <th scope="col">Turn 7</th>
                            <th scope="col">Turn 8</th>
                            <th scope="col">Turn 9</th>
                            <th scope="col">Turn 10</th>
                            <th scope="col">Overall</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">@ViewBag.Usrname</th>
                            <td><span class="text-success">100.00 </span></td>
                            <td><span class="text-success">500.00 </span></td>
                            <td><span class="text-danger">-100.00 </span></td>
                            <td><span class="text-success">800.00 </span></td>
                            <td><span class="text-danger">-200.00 </span></td>
                            <td><span class="text-success">5000.00 </span></td>
                            <td><span class="text-success">700.00 </span></td>
                            <td><span class="text-success">700.00 </span></td>
                            <td><span class="text-danger">-4000.00 </span></td>
                            <td><span class="text-success">1000.00 </span></td>
                            <td><span class="text-success">7200.00</span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="modalBuy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="@Url.Action("GameBoard", "Game")">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Please enter a username    </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                 <div class="modal-body">
                    <div class="form-group">
                        <label>Company</label>
                        <select class="form-control">
                            <option value="0">
                               Please Select
                           </option>
                            <option value="1">
                               WSO2
                           </option>
                            <option value="2">
                               Pearson
                           </option>
                            <option value="3">
                               Vertusa
                           </option>
                        </select>
                        <label>Share Price</label>
                        <input type="text" value="200" class="form-control"name="txtUsrname" id="txtUsrname" aria-describedby="emailHelp" disabled="disabled">
                         <label>Units</label>
                        <input type="number" value="0" placeholder="500 MAX" class="form-control"name="txtUsrname" id="txtUsrname" aria-describedby="emailHelp">
                        @* <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
                    </div>
                </div>
                <div class="modal-footer">
                    @* <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalSell" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="@Url.Action("GameBoard", "Game")">
            <div class="modal-header">
                <h5 class="modal-title">Sell Shares</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Company</label>
                        <select class="form-control">
                            <option value="0">
                               Please Select
                           </option>
                            <option value="1">
                               WSO2
                           </option>
                            <option value="2">
                               Pearson
                           </option>
                            <option value="3">
                               Vertusa
                           </option>
                        </select>
                        <label>Share Price</label>
                        <input type="text" value="200" class="form-control"name="txtUsrname" id="txtUsrname" aria-describedby="emailHelp" disabled="disabled">
                         <label>Units</label>
                        <input type="number" value="0" placeholder="500 MAX" class="form-control"name="txtUsrname" id="txtUsrname" aria-describedby="emailHelp">
                        @* <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
                    </div>
                </div>
                <div class="modal-footer">
                    @* <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                    <button type="button" class="btn btn-primary">Sell</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/none.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script type="text/javascript">
    var chartData = generateChartData();

        var chart = AmCharts.makeChart("chartdiv", {
            "type": "serial",
            "theme": "none",
            "legend": {
                "useGraphSettings": true
            },
            "dataProvider": chartData,
            "synchronizeGrid": true,
            "valueAxes": [{
                "id": "v3",
                "axisColor": "#B0DE09",
                "axisThickness": 2,
                "gridAlpha": 0,
                "offset": 50,
                "axisAlpha": 1,
                "position": "left"
            }],
            "graphs": [{
                "valueAxis": "v3",
                "lineColor": "#FF6600",
                "bullet": "round",
                "bulletBorderThickness": 1,
                "hideBulletsCount": 30,
                "title": "Virtusa",
                "valueField": "Virtusa",
                "fillAlphas": 0
            }, {
                "valueAxis": "v3",
                "lineColor": "#FCD202",
                "bullet": "square",
                "bulletBorderThickness": 1,
                "hideBulletsCount": 30,
                "title": "Pearson",
                "valueField": "Pearson",
                "fillAlphas": 0
            }, {
                "valueAxis": "v3",
                "lineColor": "#B0DE09",
                "bullet": "triangleUp",
                "bulletBorderThickness": 1,
                "hideBulletsCount": 30,
                "title": "WSO2",
                "valueField": "WSO2",
                "fillAlphas": 0
            }],
            "chartScrollbar": {},
            "chartCursor": {
                "cursorPosition": "mouse"
            },
            "categoryField": "turn",
            "categoryAxis": {
                "parseDates": false,
                "axisColor": "#DADADA",
                "minorGridEnabled": true
            },
            "export": {
                "enabled": false,
                "position": "bottom-right"
            }
        });

        chart.addListener("dataUpdated", zoomChart);
        zoomChart();

    // generate some random data, quite different range
    function generateChartData() {
        var chartData = [{
            "turn": 0,
            "Pearson":120,
            "WSO2": 150,
            "Virtusa":110
        }, {
            "turn": 1,
            "Pearson": 100,
            "WSO2": 200,
            "Virtusa": 150
        }, {
            "turn": 2,
            "Pearson": 150,
            "WSO2": 250,
            "Virtusa": 150
        }, {
            "turn": 3,
            "Pearson": 400,
            "WSO2": 500,
            "Virtusa": 200
        }, {
            "turn": 4,
            "Pearson": 400,
            "WSO2": 600,
            "Virtusa": 550
        }, {
            "turn": 5,
            "Pearson": null,
            "WSO2": null,
            "Virtusa": null
        }, {
            "turn": 6,
            "Pearson": null,
            "WSO2": null,
            "Virtusa": null
        }, {
            "turn": 7,
            "Pearson": null,
            "WSO2": null,
            "Virtusa": null
        }, {
            "turn": 8,
            "Pearson": null,
            "WSO2": null,
            "Virtusa": null
        }, {
            "turn": 9,
            "Pearson": null,
            "WSO2": null,
            "Virtusa": null
        },
        {
            "turn": 10,
            "Pearson": null,
            "WSO2": null,
            "Virtusa": null
        }
        ];

        return chartData;
    }

    function zoomChart() {
        chart.zoomToIndexes(chart.dataProvider.length - 20, chart.dataProvider.length - 1);
    }
</script>